<div id="<%= dom_id accomplishment %>">
  <p>
    <strong>Name:</strong>
    <%= accomplishment.name %>
  </p>

    <p>
    <strong>Focus Area:</strong>
    <%= accomplishment.focus_area.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= accomplishment.description %>
  </p>

  <p>
    <strong>Completed at:</strong>
    <%= accomplishment.completed_at %>
  </p>

</div>
