<!DOCTYPE html>
<html>
  <head>
    <title>Simplebrag</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>

    <div class="container-fluid">
      <div class="mb-4">
        <%= link_to "SimpleBrag", root_path, class: "h4" %>
        <% if user_signed_in? %>
          <span class="text-muted me-2">Welcome, <%= Current.user.name %></span>
          <%= link_to "Accomplishments", accomplishments_path %> |
          <%= link_to "Focus Areas", focus_areas_path %> |
          <%= link_to "Account", edit_user_registration_path %> |
          <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete } %>
        <% else %>
          <%= link_to "Sign Up", new_user_registration_path %>
          <%= link_to "Login", new_user_session_path %>
        <% end %>
      </div>
    </div>

    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
